AZURE_OPENAI_ENDPOINT=your-endpoint
AZURE_OPENAI_API_KEY=changeme
AZURE_OPENAI_DEPLOYMENT=your-deployment
AZURE_OPENAI_API_VERSION=your-version

DATA_SERVICE_BASE_URL=your-data-service-url

COSMOS_DB_ENDPOINT=your-cosmos-endpoint
COSMOS_DB_KEY=your-cosmos-key
COSMOS_DB_DATABASE=ai_growth_analyst_db
COSMOS_DB_HISTORY_CONTAINER=chat_history
COSMOS_DB_MESSAGES_CONTAINER=chat_messages